.table-cripto {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
  
  .table-cripto th,
  .table-cripto td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table-cripto th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .table-cripto tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-cripto tr:hover {
    background-color: #ddd;
  }
  
  .table-cripto td:first-child {
    font-weight: bold;
  }